.about {
    min-height: 100dvh;
    padding: 3rem 0;
}

.about .container .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.about .container .content .about-me {
    display: flex;
    gap: 12px;
}

.about .container .content .about-me .profile {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .container .content .about-me .profile .image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #191919;
    border-radius: 16px;
    width: 75%;
    height: 75dvh;
}

.about .container .content .about-me .profile .image-box img {
    width: 90%;
    border-radius: 16px;
    transition: all 0.5s ease;
}

.about .container .content .about-me .profile .image-box:hover img {
    filter: grayscale(100%);
}

.about .container .content .about-me .description {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.about .container .content .about-me .description .name-role {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.about .container .content .about-me .description .name-role h1 {
    font-weight: bold;
    font-size: 3rem;
}

.about .container .content .about-me .description .name-role .role {
    width: 100%;
    display: flex;
}

.about .container .content .about-me .description .name-role .role h2 {
    font-weight: 500;
    font-size: 2rem;
    padding: 4px 6px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    color: #fff;
}

.about .container .content .about-me .description p {
    font-size: 1.2rem;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .about .container .content .about-me {
        flex-direction: column;
    }

    .about .container .content .about-me .profile,
    .about .container .content .about-me .description {
        width: 100%;
    }

    .about .container .content .about-me .profile .image-box {
        width: 100%;
        height: auto;
    }
}
