.contact {
    padding: 3rem 0;
    width: 100%;
}

.contact .container .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    width: 100%;
}

.contact .container .content .contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    width: 50%;
    border: 4px solid #fff;
    border-radius: 20px;
}

.contact .container .content .contact-form .input {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
}

.contact .container .content .contact-form .input input {
    width: 49%;
    padding: 12px;
    background: transparent;
    border: 3px solid #fff;
    border-radius: 8px;
    color: #fff;
}

.contact .container .content .contact-form .input input:focus {
    outline: none;
}

.contact .container .content .contact-form textarea {
    resize: none;
    padding: 12px;
    height: 300px;
    background: transparent;
    border: 3px solid #fff;
    border-radius: 8px;
    color: #fff;
}

.contact .container .content .contact-form textarea:focus {
    outline: none;
}

.contact-form .btn-send {
    cursor: pointer;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
    transition: 0.3s linear;
    margin-top: 12px;
    width: 100%;
}

.contact-form .btn-send:hover {
    background: #fff;
    color: #000;
    transition: 0.3s linear;
}

@media screen and (max-width: 768px) {
    .contact .container .content .contact-form {
        width: 80%;
    }
}