footer {
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 2px solid #fff;
}

footer .container {
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 4rem;
}

footer .container .profile {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 25%;
}

footer .container .link-container {
    width: 70%;
    display: flex;
    gap: 4rem;
}

footer .container .link-container .information,
footer .container .link-container .resource,
footer .container .link-container .navigation {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 30%;
}

footer .container .profile .logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

footer .container .profile .logo img {
    width: 50px;
    height: 50px;
}

footer .container .profile .logo a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

footer .container .profile p {
    font-weight: 400;
    margin-bottom: 8px;
}

footer .container .profile .social-media-container {
    display: flex;
    gap: 8px;
}

footer .container .profile .social-media-container .social-media {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #191919;
    transition: transform 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

footer .container .profile .social-media-container .social-media:hover {
    transform: scale(1.2);
}

footer .container .profile .social-media-container .social-media a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

footer .container .profile .social-media-container .social-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer .container .link-container .information h1,
footer .container .link-container .resource h1,
footer .container .link-container .navigation h1 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
}

footer .container .link-container .information ul,
footer .container .link-container .resource ul,
footer .container .link-container .navigation ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer .container .link-container .information ul li,
footer .container .link-container .resource ul li,
footer .container .link-container .navigation ul li {
    cursor: pointer;
}

footer .container .link-container .information ul li::after,
footer .container .link-container .resource ul li::after,
footer .container .link-container .navigation ul li::after {
    content: "";
    display: block;
    border-bottom: 3px solid #fff;
    width: 40%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.6s linear;
    margin-top: 4px;
}

footer .container .link-container .information ul li:hover::after,
footer .container .link-container .resource ul li:hover::after,
footer .container .link-container .navigation ul li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.6s linear;
}

footer .container .link-container .information ul li a,
footer .container .link-container .resource ul li a,
footer .container .link-container .navigation ul li a {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 1536px) {
    footer .container {
        gap: 2rem;
    }

    footer .container .link-container {
        gap: 2rem;
    }
}

@media screen and (max-width: 1024px) {

    footer .container .link-container .information ul li::after,
    footer .container .link-container .resource ul li::after,
    footer .container .link-container .navigation ul li::after {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    footer .container {
        padding: 1rem 2rem;
    }

    footer .container .profile {
        width: 50%;
    }

    footer .container .link-container {
        flex-wrap: wrap;
        width: 100%;
    }

    footer .container .link-container .information,
    footer .container .link-container .resource,
    footer .container .link-container .navigation {
        width: 100%;
    }
}