.skill {
    padding: 3rem 0;
    width: 100%;
}

.skill .container .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    width: 100%;
}

.skill .container .content .skills {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 50%;
}

.skill .container .content .skills .skill-box {
    padding: 4px;
    border: 2px solid #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    filter: grayscale(100);
    transition: all 0.2s linear;
}

.skill .container .content .skills .skill-box:hover {
    filter: grayscale(0);
    transform: scale(1.02);
    transition: all 0.2s linear;
}

.skill .container .content .skills .skill-box img {
    width: 100%;
    height: 75%;
}

@media screen and (max-width: 768px) {
    .skill .container .content .skills {
        width: 100%;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}