@import 'css/global.css';
@import 'css/header.css';
@import 'css/home.css';
@import 'css/about.css';
@import 'css/skill.css';
@import 'css/project.css';
@import 'css/contact.css';
@import 'css/footer.css';